
.heroContainer{

 position: relative;

}


.hOne{
    position: absolute;
text-align: center;
    bottom: 2px;
    /* left: 65px; */
    z-index: 100;
    font-size: 4.6rem;
    color: #ffffff;
}




