.founderSection{
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: repeat(cover, minmax(auto, auto)); */
    padding: 10rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
@media (max-width: 928px){
    .founderSection{
        /* grid-template-columns: auto auto; */
       
    }
    .foundersText{
        font-size: 1.5rem;
    }
}

@media (max-width: 779px){
    .founderSection{
        grid-template-columns: auto;
       
    }
    .foundersText{
        font-size: 1.5rem;
    }
}
.founderImage{
    object-fit: cover;
    border-radius: 20rem;
    width: 100%;
  height: auto;
}
.founder{
    writing-mode:sideways-lr;
    font-weight: 800;
    font-size: 3.6rem;
    letter-spacing: .7rem;
}

.founderGroup{
    /* display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

@media (max-width: 625.6px){
    .founderSection{
        padding-left: 30px;
        padding-right: 30px;

    }
    .founderGroup{
        gap: 3rem;
    }
}